<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="shortcut icon">
</head>
<body>
    <div align="center" style="max-width: 20em">
        <div class="common-object-main" align="center" style="line-height: 1.7; width: 100%">
            <div style="width: 100%; height: 3.2em">
                <div style="float: left; font-size: 1.6em; margin: 0.2em"><b>柠萌町</b></div>
                <div style="float: right">
                    <div style="border-radius: 0.8em; width: auto; height: auto; margin: 0.5em 0.2em 0.5em 0; padding: 0.3em 0.5em 0.3em 0.5em; background: #225; color: #fff"><b>地标</b></div>
                </div>
            </div>
            <div><hr></div>
            <div style="height: auto; margin: 0.2em; align: center">
                <div align="center" style="color: #fff; background: #333; border-radius: 0.8em; width: auto; height: auto; padding: 0.3em 0.5em 0.3em 0.5em">
                    (-290, -40)
                </div>
            </div>
            <div><hr></div>
            <div style="height: auto; max-width: calc(100% - 0.4em); margin: 0.2em; align: justify">
                <img src="../geo_objects/buildings/pic/柠萌町_2021021101.webp" width="100%">
            </div>
            <div><hr></div>
            <div style="height: auto; margin: 0.2em; align: justify; text-indent: 2em">
                <p align="justify">
                    柠萌町位于龙门湾东侧、柠萌本町区的核心位置，是柠萌小镇最早开发的地方。著名景点有柠萌町风情旅游区、拐杖糖大街、城市建设纪念碑等，是每次盛大庆典的聚集地。
                </p>
            </div>
            <div><hr></div>
            <div style="height: auto; margin: 0.2em; align: center">
                <span style="text-align: center; color: #333; width: auto; height: auto; padding: 0.3em 0.5em 0.3em 0.5em; margin: 0 0.2em 0 0.2em">
                    <b>承建人</b>
                </span>
                <span style="color: #333; background: #f9c; border-radius: 0.8em; width: auto; height: auto; padding: 0.3em 0.5em 0.3em 0.5em; margin: 0 0.2em 0 0.2em">
                    <b>砂雪</b>
                </span>
            </div>
        </div>
    </div>
</body>
